.env
__pycache__
classification/data/
segmentation/datasets/
classification/ckpt/*
classification/output/

ckpt/
output/
datasets/
*png

.vscode/
.imgs/

thrid_party/Twin-Contrastive-Learning/save
thrid_party/Twin-Contrastive-Learning/datasets

thrid_party/TCL/dataset

AdaContrast/checkpoint
AdaContrast/output
AdaContrast/datasets

classification/.ipynb_checkpoints/
classification/models/.ipynb_checkpoints/
classification/*.ipynb
