.env
__pycache__
classification/data/
segmentation/datasets/
classification/ckpt/*
classification/output/

.vscode/
.imgs/

thrid_party/Twin-Contrastive-Learning/save
thrid_party/Twin-Contrastive-Learning/datasets

thrid_party/TCL/dataset

AdaContrast/checkpoint
AdaContrast/output
AdaContrast/datasets



