# Ubuntu 20.04

# Essential packages.
libjpeg-turbo8
libpng16-16
openssh-server
sudo
tzdata
wget
zsh

# Additional packages.
at
atop
dcm2niix
git
htop
nano
libgdcm-tools  # For GDCM related tools.
parallel
pigz
rsync
tmux
