GPUtil
accelerate
aim
albumentations
cryptography
cupy-cuda11x
einops
fairscale
fire
flake8
h5py
hydra-core
hydra-optuna-sweeper
ipywidgets
joblib
jupyterlab
kornia
matplotlib
mkl
mlflow
numpy
omegaconf
opencv-python-headless  # Headless version for servers with no GUI.
openpyxl  # Read `.xlsx` files in Pandas.
pandas
pydicom
pylidc
pylint
pymongo
pytest
pytest-xdist[psutil]
pytorch-lightning==1.9.*
pytorch-pfn-extras
rich
scikit-image
scikit-learn
scikit-learn-intelex
scipy
seaborn
tqdm
plotly